.venv/
__pycache__/
*.pyc
.env

# venv
venv/

# Python
*.pyo
*.pyd

# Distribution
build/
dist/
*.egg-info/

# IDE
.vscode/*
!.vscode/settings.json
.idea/

# OS
.DS_Store
Thumbs.db



.venv/
__pycache__/
*.pyc


# Secrets - NIEMALS pushen!
.env
service_account.json
*.json.key

# Output-Dateien
processed_files.json
timetable_results.json
events_raw.json

venv/

/frontend/js/config.js
